{% extends 'pagescanner/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="filter">
                    <a class="nav-link active" id="rotate" data-bs-toggle="tab" href="#rotate" role="tab" aria-controls="rotate" aria-selected="true">
                        <ul>
                            <i class="fa fa-refresh"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">ROTATE</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="filter">
                    <a class="nav-link" id="adjust" data-bs-toggle="tab" href="#adjust" role="tab" aria-controls="adjust" aria-selected="false">
                        <ul>
                            <i class="fa fa-adjust"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">ADJUST</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="filter">
                    <a class="nav-link" id="zoom" data-bs-toggle="tab" href="#zoom" role="tab" aria-controls="zoom" aria-selected="false">
                        <ul>
                            <i class="fa fa-search-plus"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">ZOOM</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="filter">
                    <a class="nav-link" id="fit" data-bs-toggle="tab" href="#fit" role="tab" aria-controls="fit" aria-selected="false">
                        <ul>
                            <i class="fa fa-expand"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">FIT</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="filter">
                    <a class="nav-link" id="crop" data-bs-toggle="tab" href="#crop" role="tab" aria-controls="crop" aria-selected="false">
                        <ul>
                            <i class="fa fa-check"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">CROP</span>
                        </div>
                    </a>
                </li>
                <li class="nav-item" role="filter">
                    <a class="nav-link" id="save" onclick="save()" data-bs-toggle="tab" href="#save" role="tab" aria-controls="save" aria-selected="false">
                        <ul>
                            <i class="fa fa-download"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">DOWNLOAD</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            {% if file_names %}
                <input type="text" id="file_names_details" value="{{ file_names }}" hidden></input>
                {% for file_name in file_names %}
                    <img class="filter_image" id="filter_image" src="{{ file_name }}" onclick="cropImage()"></img>
                {% endfor %}
            {% endif %}
            <!-- <div class="filter_image_list" id="filter_image_list">
                <img id="filter_img_{{ forloop.counter }}" src="../media/6994_1609491854341_book.jpg"></img>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}