{% extends 'pagescanner/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="filter">
                    <a class="nav-link active" id="four_point_projection" data-bs-toggle="tab" href="#four_point_projection" role="tab" aria-controls="four_point_projection" aria-selected="true">
                        <ul>
                            <i class="fa fa-expand"></i>
                        </ul>
                        <div id="filter_options_text">
                            <span id="filter_options_text">PROJECT</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-2">
            {% if file_names %}
                <input type="text" id="file_names_details" value="{{ file_names }}" hidden></input>
                {% for file_name in file_names %}
                    <div class="filter_image_list" id="filter_image_list">
                        <img id="filter_img_{{ forloop.counter }}" src="{{ file_name }}"></img>
                    </div>
                {% endfor %}
            {% endif %}
            <!-- <div class="filter_image_list" id="filter_image_list">
                <img id="filter_img_{{ forloop.counter }}" src="../media/6994_1609491854341_book.jpg"></img>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}