{% extends 'pagescanner/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Welcome </div>

                <div class="panel-body">
                    This is Your Application Page.
                </div>
             </div>
            </div>
        </div>
    <div id = "upload">
    
        <form class="col-md-8 col-md-offset-4" method="post" enctype="multipart/form-data" action="{% url 'image_upload' %}">
            {% csrf_token %}
            <label class="btn btn-primary" for="my-file-selector">
                <input id="my-file-selector" name="my-file-selector" type="file" style="display:none" 
                onchange="readURL(this);" multiple>
                <i class="fa fa-upload" aria-hidden="true"></i>
                Upload
            </label>
            <span class='label label-info' id="upload-file-info"></span>
            <div class="col-md-12" id="img_preview">
                <!-- <img id="preview" src="#" hidden/> -->
            </div>

            <div class="col-md-8 col-md-offset-2" id="confirm" hidden>
                <button type="submit" class="btn btn-primary" >
                    <span class="fa fa-arrow-right" aria-hidden="true"></span>
                    Next
                </button>
             </div>
        </form>



    </div>
</div>

{% endblock %}